// We defined css variables in root so we could get and set them from javascript later.
\:root
  --xxl: #{$xxl}
  --xl: #{$xl}
  --l: #{$l}
  --m: #{$m}
  --s: #{$s}
  --xs: #{$xs}

  --xxl-px: #{$xxl-px}
  --xl-px: #{$xl-px}
  --l-px: #{$l-px}
  --m-px: #{$m-px}
  --s-px: #{$s-px}
  --xs-px: #{$xs-px}

  --black: #{$black}
  --light-black: #{$light-black}
  --white: #{$white}
  --dark-white: #{$dark-white}
  --purple: #{$purple}
  --light-purple: #{$light-purple}
  --green: #{$green}
  --light-green: #{$light-green}
  --apricot: #{$apricot}
  --light-apricot: #{$light-apricot}

  // --color_1: #{$color_1}
  // --color_2: #{$color_2}
  // --color_3: #{$color_3}
  // --color_4: #{$color_4}
  // --color_5: #{$color_5}
  // --color_6: #{$color_6}

  --color_primary: #{$color_primary}
  --color_secondary: #{$color_secondary}
  --error: #{$error}